{% extends "base.html" %}
{% block content %}

    <h1>Book Room {{ room.number }}</h1>
    <form method="post" action="{% url 'book_room' %}">
        {% csrf_token %}
        
        <input type="hidden" name="room_id" value="{{ room.id }}">
        <br>
        <label for="start-time">Start Date:</label>
        <input type="datetime-local" id="start-time" name="start-time" required>
        <br>
        <label for="end-time">End Date:</label>
        <input type="datetime-local" id="end-time" name="end-time" required>
        <br>
        {% if error %}
            <p style="color:red;">{{ error }}</p>
        {% endif %}
        <br>
        <button type="submit">Confirm Booking</button>
    </form>
    <a href="{% url 'room_details' room.id %}">Back to Room Details</a>

{% endblock %}

